.estiloButton{
    background-color: red;
    color: yellow;
    height: 35px;
    font-weight: bolder;
    font-size: 15px;
    font: #monospace;
    border: red 0.5px solid;
    border-radius: 5px;
    text-align: center;
}